:root {
  --background: #212529;
  --text: #FFF;
  --highlight: #11998E;
  --secondary: #2A2E32;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
}

body {
  background: var(--background);
  transition: 0.5s background ease;
  padding: 10px 150px;
}

.theme-switch {
  --background: #FFF;
  --text: #212529;
  --secondary: #2A2E32;
  color: var(--text);
  width: 70px;
  height: 30px;
  background: var(--highlight);
  border-radius: 50px;
  position: relative;
  margin-bottom: 20px;

  .switch {
    background: white;
    width: 24px;
    height: 24px;
    background: var(--background);
    border-radius: 100%;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: 0.5s all ease;
  }
}

.light-theme {
  --background: #FFF;
  --text: #212529;
  --secondary: #f0f0f0;
  background: var(--background);

  .theme-switch {
    background: var(--text);

    .switch {
      transform: translateX(37px);
    }
  }
  h1 {
    color: var(--highlight);
  }
  input {
    background-color: var(--secondary);
    color: var(--text);
  }
  p {
    color: var(--text);
  }
  
  span {
    color: var(--highlight);
  }
  pre {
    color: var(--text);
  }
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

h1 {
  color: white;
  font-size: 42px;
  text-align: center;
  margin-bottom: 16px;
}

img {
  width: 100px;
  padding-bottom: 16px;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
  max-width: 480px;
  margin-bottom: 16px;
  transition: 0.4s;
}

input {
  background-color: var(--secondary);
  color: white;
}

.search-box input {
  display: block;
  appearance: none;
  outline: none;
  border: none;
  padding: 16px;
  width: 100%;
  transition: 0.4s;
}

.search-box:focus-within {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.results {
  max-width: 768px;
  margin: 0 auto;
}

.result {
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  background-color: var(--secondary);
  border-radius: 16px;
  transition: 0.4s;
}

.result h3 {
  color: white;
  font-size: 26px;
  margin-bottom: 16px;
}

p {
  color: #A6A7A9;
  font-size: 16px;
  margin-bottom: 16px;
}

span {
  color: var(--highlight);
}

.result li {
  font-size: 18px;
  margin-bottom: 16px;
}

.result li .searchmatch {
  font-weight: 700;
}

.noselect {
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.expandable-btn {
  background-color: var(--secondary);
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 16px;
  width: 100%;
}
.expandable-btn:hover {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.Collapsible__trigger {
  cursor: pointer;
  display: flex;
  justify-content: center;
}
h4 {
  color: #e67e22;
  font-size: 18px;
  margin-bottom: 16px;
  display: inline-flex;
}
.main-info {
  text-align: center;
}
pre {
  color: #A6A7A9;
  font-size: 16px;
  margin-bottom: 16px;
}
.warning {
  color: #d31b46;
}
.keywords {
  color: #e67e22;
}
.bigram-trigram {
  color: #8c7ae6;
}